{% extends "base.html" %}

{% block title %}Protect PDF{% endblock title %}

{% block body %}
<div class="container my-5">
    <div class="card shadow-sm p-4 mx-auto" style="max-width: 600px;">
        <h2 class="mb-4 text-center">Password Protect PDF</h2>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="mb-3">
                <label class="form-label">Choose PDF:</label>
                <input type="file" name="pdf_file" accept="application/pdf" class="form-control" required>
            </div>
            <div class="mb-3">
                <label class="form-label">User Password (to open file):</label>
                <input type="text" name="user_password" value="123" class="form-control" required>
            </div>
            <div class="d-grid">
                <button type="submit" class="btn btn-primary">Protect PDF</button>
            </div>
        </form>
    </div>
</div>
{% endblock body %}
